@using EAD_Proj1a.Models
@model EAD_Proj1a.Models.Admin

@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    ViewBag.Title = "Sign In | MySoundCloud";
}

           <form method="post" action="~/Admin/adminSignIn" style="font-size:large ; color:antiquewhite ; margin-top:10px ; margin-left:860px ; margin-bottom:47px" class="btn btn-success">
                UserName    : @Html.TextBoxFor(m => m.Username) <br /> <br />
                Password    : @Html.PasswordFor(m => m.Password) <br /> <br />
            <input type="submit" class="btn btn-warning bgcolor" value="LogIn" style="margin-left:350px" />
            </form>
        
