
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Bootstrap/bootstrap.css" />
    <script src="~/Bootstrap/bootstrap.js"></script>
    @RenderSection("s1" , false)
    <title>_Layout1</title>
</head>

<body style="background-image: url('../../Images/background.jpg');">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <img src="~/Images/logo.jpg" style="margin-top:10px" />
        </div>
        <div>
            <ul class="nav navbar-nav" style="margin-left:145px ; margin-top:45px">
                <li> <a href="~/Home/Index"> Home </a> </li>
                <li> <a href="~/Home/Contact"> Contact Us </a> </li>
                <li> <a href="~/Home/LogIn_SignUp"> Sign In </a> </li>
                <li> <a href="~/Home/SignUp"> Sign Up </a> </li>
            </ul>

            <form action="~/Home/searchSong" method="post" class="navbar-form navbar-right" role="search" style="margin-top:45px">
                <div class="form-group">
                    <input type="text" name="songName" class="form-control" placeholder="Search here" />
                </div>
                <input type="submit" class="btn btn-success" value="GO!!" />
            </form>
        </div>
    </nav>

    <div class="row" style="margin-top:30px">
        <div class="col-md-3" style="background-image: url('../../Images/BG.jpg');">
            <br />
            <div style="margin-bottom:50px ; color:antiquewhite ; font-family:'Times New Roman', Times, serif ; font-style:italic ; font-size:x-large ; font-stretch:condensed">
                Listen to the World's Music.
            </div>
            <div class="list-group">
                <a href=# class="list-group-item active"> Search By </a>
                <form role="search" action="~/Home/searchCriteria" method="post">
                    <input type="text" name="songName" class="list-group-item" placeholder="Song" style="width:315px" />
                    <input type="text" name="singerName" class="list-group-item" placeholder="Singer" style="width:315px" />
                    <input type="text" name="artistName" class="list-group-item" placeholder="Artist" style="width:315px" />
                    <input type="text" name="albumName" class="list-group-item" placeholder="Album/Movie" style="width:315px" />
                    <input type="submit" class="btn btn-success" value="Go !!" style="width:315px" />
                </form>
                <br /> <br /> <br /> <br /> <br /> <br />
            </div>
        </div>
        <div class="col-xs-9">
           
            @RenderBody() ; 
           
        </div>
    </div>

    <footer class="modal-footer" style="height:3% ; background-color:black ; font-style:italic ; color:antiquewhite"> Made By Rabia Javed </footer>
</body>

</html>
