
@{
    //Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Sign In | MySoundCloud";
}


<form method="post" action="~/Home/userSignIn" class="btn btn-danger" style="font-size:large ; margin-top:180px ; margin-left:260px ; color:antiquewhite">
    Email      : <input type="text" placeholder="Email" style="margin-left:33px" name="email"> <br /> <br />
    Password   : <input type="password" placeholder="Password" name="password"> <br /> <br />
    <input type="submit" class="btn btn-warning bgcolor" value="LogIn" style="margin-left:360px" />
</form>
